# Python Basic

# Python Data Types

Basic data types in python
- Numbers
- Strings
- List
- Dictionaries
- Tuple

## Numbers

Python numbers contain:<br> 
`Integers` that have no fractional part, `decimals with fixed precision` numbers , `complex` number

In [74]:
# integer
a = 30
b = 15
print("Integer addition: ", a + b)
print("Integer multiplication: ", a * b)
print("Integer division: ", int(a / b))

Integer addition:  45
Integer multiplication:  450
Integer division:  2

In [11]:
# decimal
a = 3 # integer
b = 1.5 # float
print("Decimal addition: ", a + b) # by default python will cast result to float if one number is float
print("Decimal multiplication: ", a * b)
print("Deciam division", a / b) # same case will be applicable as in decimal additions

c = 3.666666666666666666666
d = a + c
d = "%.2f" % c # 2 digits precision
print("Decimal number precision: ", d)

Decimal addition:  4.5
Decimal multiplication:  4.5
Deciam division 2.0
Decimal number precision: %.2f 3.67

In [17]:
#complex
# python allow to play with complex number and can allow flexibility to simulate comlpex equation in pyhton
z = 2 + 3j
print("Real part: ", z.real)
print("Imaginary part: ", z.imag)
print("Conjugate: ", z.conjugate)
print("Absolute of complex number ", abs(3 + 4j))
print("Power operation on complex number: ", pow(3 + 4j, 2))

Real part:  2.0
Imaginary part:  3.0
Conjugate:  <built-in method conjugate of complex object at 0x000001A4CAEE3C70>
Absolute of complex number  5.0
Power operation on complex number:  (-7+24j)

### Number exercise

`Q1`<br>
Perform integral division and doesnot use "int()" for typecasting<br>
a = 15 <br>
b = 8

output should be 1 <br>
`HINT`: Find operator for integral division

In [79]:
a = 15
b = 8
a / b

1.875

## Strings

In [20]:
# in python we can define strings in single and double quotations
print("This is string")
print('Also we can define in this way')

This is string
Also we can define in this way

In [24]:
# indexing in strings
a = "I am strings"
# we can treat this string as array of character, in python array can index using array[index_number]
print("Character at index 0: ", a[0])
print("Characters at index 7: ", a[7])

Character at index 0  I
Characters at index 7  t

In [26]:
# Python allow to efficiently extract sub strings from main strings
# In python slicing on array can be perform using array[start: end] # please note end is exclusive
# array[inclusive: exclusive]
print(a[0: 3])
print(a[6: 12])

I a
string

In [27]:
# Exlusive python indexing 
# In python -1 mean from last of array -2 mean second last, -3 mean third from last
print("Last element of string a", a[-1])
print("Second last element of string a", [-2])

Last element of string a s
Second last element of string a [-2]

In [29]:
# [-2: ] mean select substring from second last of string a to onward
print("Substring from second last to onward: ", a[-2: ])

Substring from second last to onward:  gs

In [32]:
# Check elemment is in string or not
sub = "is"
print("is in string: ", (sub in a))
sub = "am"
print("am in string: ", (sub in a))

is in string:  False
am in string:  True

In [34]:
# Integer addition with string
a = 36
b = "This number is " + a

TypeError: can only concatenate str (not "int") to str

In [35]:
# to remove above error we have to explicitly cast number to str
b = "This number is " + str(a)
b

'This number is 36'

In [38]:
# Other language allow string interpolation, while pyhton also allow this feasibility
# this come in handy during complex string operations
# format which is string function can automaticaally cast integer to string
b = "This number is {}".format(a)
b

'This number is 36'

In [45]:
import json

In [53]:
# We can also create string using """ """
# """""" this come in  handy when we have to create string to represent json in pyhton file
json_string = """
{
    "String": {"A": "I am a", "B": "I am b"},
    "Number": {"one": 1, "two": 2} 
}

"""

In [54]:
json.loads(json_string)

{'String': {'A': 'I am a', 'B': 'I am b'}, 'Number': {'one': 1, 'two': 2}}

In [61]:
# By default python allow various function on string
a = "i am string" # Convert fist caharacter to upper case
print("Capitalize me: ", a.capitalize())
print("Is 'I' in string Yes/No ", a.find("am")) # return starting index if match otherwise return -1

Capitalize me:  I am string
Is 'I' in string Yes/No  2

In [69]:
# Join function, often use in python
# join items in iterable with mentioned seperator
a = ["I", " am", " string"]
"".join(a)

'I am string'

In [86]:
# string multiplcation with inetger
a = "Hi"
a * 4    # this will replicate string to 4 time

'HiHiHiHi'

### String exercises

`Q1`<br>
Here is number a = 10
write python program to append "00" at start. Best to use string builtin function<br>
Final output could be 0010

In [62]:
a = 10
# final output should be 0010

`Q2`<br>
Write programm to fill gap with $ as seperator

In [71]:
a = ["I", "am", "string"]
# final output shoul be I$am$string
# Hint use join operator

'I$am$string'

## List

In [81]:
# List is same as array in other language
# List are mutable mean you can change them after their definition
# in python array start at index 0

In [98]:
lst = [11, 2, 19, 4]
print("I am a list: ", lst)

I am a list:  [11, 2, 19, 4]

In [114]:
# Slicing of list is same as we did in string 
print("Item a index 0", lst[0]) 
print("Last item", lst[-1])
print("Item from 2nd index and onward ", lst[2: ])

# list[inclusive: exclusive]
print("Item from 1 index to 4 exclusive ", lst[1: 3])

Item a index 0 11
Last item 4
Item from 2nd index and onward  [19, 4]
Item from 1 index to 4 exclusive  [2, 19]

In [99]:
lst_2 = [3, 4, 5, 9]

# adding two list will concatenate list instead of adding element
lst + lst_2

[11, 2, 19, 4, 3, 4, 5, 9]

In [100]:
# Mutiple opertor on list

lst * 3  # this will create 3 list same as "lst" and then concatenate them

[11, 2, 19, 4, 11, 2, 19, 4, 11, 2, 19, 4]

In [101]:
# iterate over list
for i in lst:
    print(i)

11
2
19
4

In [102]:
# lenght of list
len(lst)

4

In [103]:
# we can use len() on any iterable including string

In [170]:
# changing element value in lst
l = [11, 20, 9, 40]
print("prev list: ", l)
l[1] = 50
print("new lst: ", l)

prev list:  [11, 20, 9, 40]
new lst:  [11, 50, 9, 40]

In [171]:
# adding element in lst
print("prev list: ", l)
l.append(100)
print("new lst: ", l)

prev list:  [11, 50, 9, 40]
new lst:  [11, 50, 9, 40, 100]

In [172]:
# removing element in lst
# we can do this using .pop(index)
print("prev list: ", l)
l.pop(2)
print("new lst: ", l)

prev list:  [11, 50, 9, 40, 100]
new lst:  [11, 50, 40, 100]

In [173]:
# removing first match element by value in lst
print("prev list: ", l)
l.remove(50)
print("new lst: ", l)

prev list:  [11, 50, 40, 100]
new lst:  [11, 40, 100]

In [104]:
# iterating over list using indexing
# range allow us to iterate over iterable, it create array of 0 to mentioned item a
# and use those items to allow is us to iterate over list
for ind in range(len(lst)):
    print(lst[ind])

11
2
19
4

In [107]:
# iterating over list item and index simultaneously 
# use enumerate for index
for ind, item in enumerate(lst):
    print("Item {} is at index {}".format(item, ind))

Item 11 is at index 0
Item 2 is at index 1
Item 19 is at index 2
Item 4 is at index 3

In [108]:
# iterating over two list simultaneouly
# zip operator allow us to iterate over two list at same time
for l1, l2 in zip(lst, lst_2):
    print("List one item {}, list two item {}".format(l1, l2))

List one item 11, list two item 3
List one item 2, list two item 4
List one item 19, list two item 5
List one item 4, list two item 9

In [132]:
# advanced item selection in list
# bump over every n'th divisible item 
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst[::3]

[1, 4, 7, 10]

In [136]:
# List comprehension
# list comprehension is very powerful feature in python language
# it allow to comprehend list using minimal and understandable code
num = [i+i for i in range(0, 10)]
num

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### List exercise

`Q1`
Select item in list from last 5th item to 2nd last item

In [137]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst[]
output should be [6, 7, 8]

[6, 7, 8]

`Q2` Select and bump over every 2nd number but from right side of list

In [138]:
lst[]
# output should be [10, 8, 6, 4, 2]

[10, 8, 6, 4, 2]

`Q3` Create list of square from 1 to 10 using list comprehension

In [141]:
squares = [#using list comprehension]

# output should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Dictionary

In [159]:
# python have another powerfull data type which is dictionary
# dictionary allow us to store complex data in key value fashion
# Dictionary have key, value pair, we use key to fetch partiuclar value
# Dictionary can create using curly braces {}

dct = {'a': 1, 'b': 2, 'c': 3}

In [143]:
# accesing list item can be done using key 
dct['b']

2

In [145]:
# we can also acces ugin dict builtin .get("key") method
dct.get("b")

2

In [148]:
# iterating over dictionaries
for value in dct: # NOTE value will be key here
    print(dct[value])

1
2
3

In [149]:
# iterating over keys as well as value
for key, value in dct.items():
    print("Dict key {} have value {}".format(key, value))

Dict key a have value 1
Dict key b have value 2
Dict key c have value 3

In [151]:
# we can use len to get length  of dictionary
len(dct)   # get length of dictionary based on keys

3

In [155]:
# As dict is mutable we can change its value by giving key
print("Previous dict: ", dct)
dct["c"] = 10
print("new dict: ", dct)

Previous dic:  {'a': 1, 'b': 2, 'c': 3}
new dic:  {'a': 1, 'b': 2, 'c': 10}

In [156]:
# adding item in dict 
dct["d"] = 20
dct

{'a': 1, 'b': 2, 'c': 10, 'd': 20}

In [160]:
# removing item
# we can use .pop(key) item to remove
dct.pop("c")
dct

{'a': 1, 'b': 2}

In [ ]:
# we can also use del to remove item
del dct["a"]

In [161]:
# we can also create dict using dict()
dct = dict(a="Apple", b="Banana")
dct

{'a': 'Apple', 'b': 'Banana'}

### Exercise

`Q1` Create dictionary which represent 7 color heatmap. <br>
Dictionary should have keys 0 to 6 which represent color intensities, and value as their corresponding <br>
color code

## Tuple

In [176]:
# tuple is immutable in python and can be created using round braces
tup = ('one', 1, 4, "hi")
tup

('one', 1, 4, 'hi')

In [178]:
# slicing of tuple is same as of list
print("Value at 0 index ", tup[0])
print("Value between 0 and 3 ", tup[0: 3])

Value at 0 index  one
Value between 0 and 3  ('one', 1, 4)

In [179]:
# changing tuple value
tup[1] = "two"

TypeError: 'tuple' object does not support item assignment

Changing tuple value will raise error because we cannot change value of tuple once it created

In [180]:
# iterating over tuple 
for i in tup:
    print(i)

one
1
4
hi

In [181]:
# check if item is in tuple or not
5 in tup

False

In [182]:
1 in tup

True

In [183]:
# as tuple is immutable we can add, delete or change tuple values